<div id="classroom-regester" v-cloak>
  <div class="shadow p-3 mb-5 bg-info">
    <div class="container">
      <div class="blockquote">
        <p class="mb-1 text-dark">xxxxxxxx健康B证件</p>
        <footer class="text-warning">
          <h6>加入培训班</h6></cite>
        </footer>
      </div>
    </div>
  </div>
</div>



<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>