<div id="classroom-signin" v-cloak>
  <div class="container">
    <div class="justify-content-md-center">
      <!-- <div class="col-sm ml-1 text-muted"> {{classroom.classroomqrcodeurl}}</div> -->
      <img :src="qrcode" />
    </div>
  </div>


</div>



<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>