<div id="classroom-signin" v-cloak>
  <div class="container">
    签到页面
    <div class="row">
      <!-- <div class="col-sm ml-1 text-muted"> {{classroom.classroomqrcodeurl}}</div> -->
      <img class="meimg" :src="qrcode" />
    </div>
  </div>


</div>



<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>