<div id="classroom-regester" v-cloak>
  <header id="page-header"
    class="navbar navbar-expand-sm navbar-dark bg-dark flex-column flex-md-row justify-content-between">
    <a class="navbar-brand mr-0" href="#">xxxxxxxx健康B证件</a>
    <div class="navbar-nav flex-row">
      <!-- LOGGED-IN NAVIGATION -->
      <a class="nav-item nav-link ml-2 ml-md-0 mr-2 mr-md-0" href="/contact">加入培训班</a>
    </div>
  </header>
  <div class="container mt-2">
    <div class="row justify-content-start ">
      <div class="col d-flex  align-items-center mb-2">
        <div class="titletip bg-info mr-1"></div>
        <span class="text-muted textsizes">个人信息</span>
      </div>
    </div>
    <div class="row justify-content-start border-top mr-1 ml-1 p-2 titletxtsize">
      <div class="col-4 d-flex align-items-center ">
        手机
      </div>
      <div class="col">
        <input type="text" aria-label="First name" class="form-control noborder" placeholder="请填写手机">
      </div>
    </div>
    <div class="row justify-content-start border-top mr-1 ml-1 p-2 titletxtsize">
      <div class="col-8  d-flex align-items-center">
          <input type="text" aria-label="First name" class="form-control noborder" placeholder="请输入短信验证码">
        </div>
        <div class="col  d-flex align-items-center btn btn-success">
            获取验证码
        </div>
    </div>
    <div class="row justify-content-start border-top mr-1 ml-1 p-2 titletxtsize">
      <div class="col-4  d-flex align-items-center">
        姓名
      </div>
      <div class="col">
        <input type="text" aria-label="First name" class="form-control noborder" placeholder="请填写姓名">
      </div>
    </div>
    <div class="row justify-content-start border-top mr-1 ml-1 p-2 titletxtsize">
      <div class="col-4  d-flex align-items-center">
        身份证
      </div>
      <div class="col">
        <input type="text" aria-label="First name" class="form-control noborder" placeholder="请填写身份证">
      </div>
    </div>
    <div class="row justify-content-start border-top mr-1 ml-1 p-2 titletxtsize">
      <div class="col-4  d-flex align-items-center">
        工作单位
      </div>
      <div class="col">
        <input type="text" aria-label="First name" class="form-control noborder" placeholder="请填写工作单位">
      </div>
    </div>
    <div class="row justify-content-start border-top mr-1 ml-1 p-2 titletxtsize">
      <div class="col-4  d-flex align-items-center">
        电子邮箱
      </div>
      <div class="col">
        <input type="text" aria-label="First name" class="form-control noborder" placeholder="请填写电子邮箱">
      </div>
    </div>
  </div>
</div>



<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>