<div id="classroom-regester" v-cloak>
  <div class="shadow p-2 mb-5 bg-info">
    <div class="container">
      <div class="blockquote">
        <h5 class="mb-1 text-dark">xxxxxxxx健康B证件</h5>
        <!-- <footer class="text-warning"> -->
          <h6  class="text-warning">加入培训班</h6></cite>
        <!-- </footer> -->
      </div>
    </div>
  </div>
</div>



<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>