<div id="config-manager" v-cloak>
  <div class="container">
      <div class="row m-2">
          <div class="btn-group-vertical">
              <button type="button" class="btn btn-info" @click='configadd' >创建配置项</button>
          </div>
      </div>
      <div v-for="(item, index) in result2" :key="index">
          <div class="form-group row mt-2">
              <label for="staticEmail" class="col-sm-2 col-form-label">关键字</label>
              <div class="col-sm-10">
                  <input class="form-control" type="text" placeholder="Default input" v-model.trim="formData.classromName">
              </div>
              
            </div>
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-2 col-form-label">配置内容</label>
              <div class="col-sm-10">
                <input type="text" class="form-control"  placeholder="Password">
              </div>
            </div>
            <!-- <ajax-form action="updateconfigbyid" :syncing.sync="syncing" :cloud-error.sync="cloudError"
                 @submitted="submittedForm" :handle-parsing="handleParsingForm"> -->
          <!-- <div class="container-fluid"> -->
              <!-- <div class="row "> -->
                <!-- <div class="col-sm"> -->
                  <!-- <ajax-button type="submit" :syncing="syncing" class="btn btn-info col-sm-2 col-form-label">添加</ajax-button> -->
                <!-- </div> -->
              <!-- </div> -->
            <!-- </div> -->
		 
       <!-- </ajax-form> -->
            <button class="btn btn-info col-sm-2 col-form-label" type="button" @click='addconfig(item)' >添加</button>
      </div>
      

      
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>